* {
  font-family: 'Roboto', sans-serif;
}

:root {
    --primary-background-color: #F6F5F0;
    --secondary-background-color: #BFBEB9;
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
  }
  