#projectsContainer {
    background-color: #F6F5F0;
    padding-bottom: 1700px;
}
#projectTechnologies {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

}

#technologyItem {
    background-color: red;
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
}